<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

{#    Лого сайта  #}
    <a class="navbar-brand" href="/">Posts</a>

{#      Для мобильной версии  #}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

{#      Главная   #}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

{#      Создать заметку   #}
        <li class="nav-item">
          <a class="nav-link" href="{#  #}">Создать</a>
        </li>

      {% if user.is_authenticated %}

{#      Выход   #}
        <li class="nav-item">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="nav-link" type="submit">Выйти</button>
            </form>
        </li>

      {% else %}

{#      Вход   #}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Войти</a>
        </li>


{#      Регистрация   #}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
        </li>

      {% endif %}

      </ul>


{#    Форма поиска (по умолчанию метод GET)   #}
      <form class="d-flex" action="{#  #}">
        <input name="search" value="{{ search_value_form }}"
               style="width: 400px" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>